<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_giant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{48,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{1,35},{48,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>land.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{1,115},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>light_giant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{56,78}</string>
                <key>textureRect</key>
                <string>{{1,75},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,52}</string>
                <key>spriteSourceSize</key>
                <string>{47,52}</string>
                <key>textureRect</key>
                <string>{{1,205},{47,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,51}</string>
                <key>spriteSourceSize</key>
                <string>{44,51}</string>
                <key>textureRect</key>
                <string>{{1,159},{44,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>art.png</string>
            <key>size</key>
            <string>{54,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b93c23b412a4a3d99508b56f7f48807:c5aa3f291cdfecffe9389d1c37609631:ce74f62e8f18832799afe8f099e7b8c5$</string>
            <key>textureFileName</key>
            <string>art.png</string>
        </dict>
    </dict>
</plist>
