<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_cell_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{39,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_decoration_rock_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{37,41}</string>
                <key>textureRect</key>
                <string>{{1,49},{37,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test1.png</string>
            <key>size</key>
            <string>{41,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a5f2a740d455075798d42f5e81fda1c:6f066f7974c6a7428a3cacbf1be57568:1e4243132e2cc643f6d225e7942b8f2e$</string>
            <key>textureFileName</key>
            <string>test1.png</string>
        </dict>
    </dict>
</plist>
